# Backend
backend/tmp/
backend/vendor/
backend/*.exe
backend/*.test
backend/*.out

# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Common
.DS_Store
*.log

.vscode/
.env.local